* {
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding:0;
}


/* 　ーーーーーーーーー　body全体　ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
body{
  background-color: white;
  color:#222222;
}

/* オープニング */

.shutter{
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  background-color:#fff;
  z-index:10000;
  -webkit-animation: byeShutter 2.4s forwards;
  animation: byeShutter 2.4s forwards;
}

.logo {
  position: absolute;
  width: 120px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: logo 0.8s forwards;
  animation: logo 0.8s forwards;
  animation-delay: 0.2s;
}

@keyframes byeShutter {
  70% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes logo {
  0% {
    opacity: 1;
  }

  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: scale(0.8);
  }
}





/* ーーーーーーーーー　ヘッダー内　ーーーーーーーーー */
header{
  background-color: white;
  display: flex;　
  position: relative;
  width: auto;
  height: auto;
  padding: 10px 50px;
}


.header_logo{
  width: 80px;
  height: auto;
  margin:0 20px;
}

.header_title {
  font-size: 20px;
  padding: 30px 10px 20px 10px;
}

.header_title span{
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width:1000px){
  header{
    padding: 10px 10px;
  }

  .header_logo{
    width: 50px;
    height: auto;
    margin:0;
  }

  .header_title{
    font-size: 15px;
    padding: 20px 5px 10px 5px;
  }


  .header_title span{
    font-size: 20px;
    font-weight: bold;
  }

}




/* nav */
#pcnav{
  text-align: center;
  margin: 40px 50px auto auto;
}

#pcnav ul{
  margin:0;
  padding: 0;
}

#pcnav ul li{
  list-style: none;
  display: inline-block;
  padding: 0 5px;
  /* border-left:  solid 0.5px #000000;
  border-right : solid 0.5px #000000; */
  display: table-cell;


}

#pcnav ul li :hover{
  background-color: #708090		;
  color: white;
  transition: 0.3s;
  border-radius: 5px;

}

#pcnav ul li a {
  padding: 10px;
}


#pcnav ul li a{
  text-decoration: none;
  color: #222222;
}

.humb-menu{
  display:none;
}

@media screen and (max-width:1000px){
  #pcnav{
    display:none;
  }

  .humb-menu{
    display: inline-block;

  }

  #gnav-btn {
    color: #222222;
    margin:5px 0 auto auto;
    padding: 2px 5px ;
    font-size: 30px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 40;
    background-color: white;
    border: solid 1px #d1caca;
    border-radius: 3px;
  }

  #gnav-input:checked ~ #gnav-content {
    top: 0;
  }

  #gnav-content {
    text-align: center;
    background-color: rgba(112,128,144,0.95);
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 10;
    transition: 0.3s;
    width: 100%;
  }

  .humb-menu__title {
    padding: 10px 0 0 0;
    color: white;
    font-weight: bold;
    background-color: rgba(112,128,144,1);
    border-bottom: 5px solid silver;
  }

  .humbmenu_logo{
    width: 50px;
    height: 50px;
  }

  .humb-menu label {
    font-weight: bold;
    color: white;
    display:block;
    justify-content: space-between;
    /* padding: 1.3rem; */
    padding: 0;
    cursor: pointer;
    border-top: 0.5px solid silver;
    /* text-align: center; */
  }

  /* .humb-menu #gnav-content label a{
    text-decoration: none;
    color: white;
    display:flex;
    padding: 20px;
  } */

  /* .humb-menu #gnav-content  a{
    text-decoration: none;
    color: white;
    display:block;
    padding: 20px;
  } */

  .humb-menu #gnav-content label p{
    text-decoration: none;
    color: white;
    display:block;
    padding: 20px;
  }

  .humb-menu #gnav-content a{
    text-decoration: none;
    text-align: left;
  }

  .humb-menu input {
    display: none;
  }

  /* .humb-menu .accshow {
    height: 0;
    overflow: hidden;
  }

  .humb-menu .accshow p {
    padding: 1.5rem;
    color: white;
    border-top: 0.5px solid #c7c5c5;
  }

  .humb-menu .cssacc:checked +　.accshow {
    height: auto;
  } */

}


/* ーーーーーーーーー　main内　ーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* pagetop icon */
#page-top{
  width: 60px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #708090	;
  opacity: 0.7;
}

#page-top a{
  position: relative;
  display: block;
  width: 60px;
  height: 70px;
  text-decoration: none;
}

#page-top a:before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f062';
  font-size: 45px;
  color: #fff;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: white;
}

@media screen and (max-width:1000px){
  #page-top{
    display: none;
  }
}


/* img */

.slider_box{
  z-index: 10;
}

.slider_box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bx-wrapper{
  border:none!important;
  box-shadow: none!important;
}
.slider_box{
  width: 100%;
}


.bx-viewport .slider li{
  display: block!important;
}
li{
  display: none;
}


/* -------------- コンテンツ　------------------ */


.content_title{
  /* border: solid 1px #d1caca; */
  background : #3296c8;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 0 50px;
}

/* YouTube */
/* .ywrap{
  padding: 40px 80px;
}
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
} */


/* map */
.content_map{
  text-align: center;
  padding: 20px 30px;
}

.areamap_image{
  width: 40vw;
  height: auto;
}


@media screen and (max-width:1000px){

  .content_title{
    /* border: solid 1px #d1caca; */
    margin: 0 ;
    font-size: 20px;
  }

  .content_map{
    padding: 20px;
  }

  /* .content_map h1{
    font-size: 24px;
  } */

  .areamap_image{
    width: 60vw;
    height: auto;
  }
}



/* spot */
.content_spot {
  text-align: center;
  padding: 20px 30px;
}

.box{
  padding: 0.5em 1em;
  /* margin: 10px 50px 25px 50px; */
  margin:15px 10px 10px 10px;
  width:25vw;
  vertical-align: top;
  background: white;
  border-top: solid 3px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  display: inline-block;　
}

.sentence_box{
  width: 100%;
  text-align: left;
}

.box h1 {
  font-size: 20px;
  background:linear-gradient(transparent 90%, silver 0%);
  margin-bottom: 5px;
  text-align: center;
}

.box p{
  margin: 5px 0px;
}

.box_image{
  /* width: 300px; */
  /* height: 200px; */
  width: 90%;
  height: auto;
  /* margin: auto 0 0 30px; */
}

@media screen and (max-width:767px){
  .content_spot{
    padding: 20px;
  }

  /* .content_spot h1{
    font-size: 24px;
  } */

  .box{
    padding: ;
    width:auto;
    margin:10px 0;
    display: block;　
  }

  .box h1{
    text-align: center;
    font-size: 20px;
  }


  .box_image{
    width:90%;
    height:auto;
    margin:0;
  }

}




/* lesson */
.content_lesson{
  text-align: center;
  padding: 20px 30px;
}

.lesson_detail{
  margin:20px 50px;
  text-align: left;
  display: flex;
}

.lesson_image{
  width: 40vw;
  height: auto;
}

.sentence_lesson{
  margin-left: 20px;
}

.sentence_lesson h1 {
  font-size: 24px;
}


@media screen and (max-width:1000px){
  .content_lesson{
    padding: 20px;
  }

  /* .content_lesson h1{
    font-size: 20px;
  } */

  .lesson_detail{
    display: inline-block;
    text-align: center;
    margin:15px 10px;
  }

  .lesson_image{
    width: 100%;
    height: auto;
  }

  .sentence_lesson{
    text-align: left;
    margin-left: 0;
  }

  .sentence_lesson h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
}


/* ーーーーーーーーー　フッター内　ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
footer{
  background-color: #222222;
  color: silver;
  text-align: center;
  padding: 30px 0px;
  margin-top: 30px;
}



.icon a{
  text-decoration: none;
  color: silver;
  font-size: 30px;
  padding: 5px;
}

.icon :hover{
  color:gray;
  transition: 0.7s;
}

.copyright{
  padding: 20px 0 0 0;
  font-size: 14px;
}

@media screen and (max-width:1000px){
  .icon a{
    font-size: 25px;
    padding: 5px;
  }

  .copyright{
    padding-top: 15px;
    font-size: 12px;
  }
}
