* {
  margin:0px;
  padding:0px;
}


body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

/* header */
.header{
  position: relative;
  width: 100%;
  height: auto;
  background-color:white;
  color:#222222;
}


.header-title{
  padding: 20px 30px;
  float:left;
}

.header-title h1 {
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}

.header-title h1 span{
  display:block;
  font-size: 14px;
  margin-bottom: 3px;
}

.header-title p{
  display: none;
}

@media screen and (max-width:767px){
  .header-title{
    padding: 15px 0;
    width: auto;
  }
  .header-title h1{
    font-size: 20px;
    line-height:1.2em;
    padding: 0 0 0 15px;
  }
  .header-title h1 span{
    font-size: 12px;
    margin-left: 0 0 2px;
    line-height: 1.2em;
  }
  .header-title p{
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    line-height: 0;
  }
  .header-title i{
    padding: 5.5px 7.75px;
  }
}

.nav ul{
  position: absolute;
  top:50px;
  right:0;
  margin:-20px 0 0;
  letter-spacing: -0.5em;
  right:50px;
}

.nav ul li{
  display: inline-block;
  padding: 15px 10px;
  margin-right: 20px;
  letter-spacing: 0;
}

.nav-title :hover{
  color: gray;
  transition: 0.3s;
}

.nav ul li a{
  display: block;
  font-size: 14px;
  line-height: 40px;
  color: #222222;
  text-decoration: none;
  letter-spacing: 0.02em;
}


@media screen and (max-width:767px){
  .nav{
    display:none;
  }
}

.home_img{
  max-width:100%;
  height:auto;
}

@media screen and (max-width:767px) {
  .home_img{
    max-width: 100%;
    height: 250px;
  }
}

.profile{
  padding: 30px;
}

.profile h2{
  text-align: left;
  font-size: 24px;
  margin: 0 0 15px;
  letter-spacing: 0.04em;
}

.pimage{
  width: 360px;
  height:240px;
  margin-right: 30px;
}

.pwrapper{
  display: flex;
}

.profile p{
}

@media screen and (max-width:767px) {
  .profile{
    padding:15px 0;
  }
  .profile h2{
    text-align: center;
    font-size: 20px;
  }

  .pimage{
    width: 100%;
    height: 250px;
    margin:0;
  }

  .pwrapper{
    display: block;
  }
}

.footer{
  position:absolute;
  text-align: center;
  font-size: 15px;
  color:silver;
  /* height: 75px; */
  width: 100%;
  background-color: #222222;
  padding: 15px 0;
}

.icon a{
  text-decoration: none;
  font-size: 1.5em;
  color: silver;
  padding:5px 5px;
  margin:0 3px;
}

.icon :hover{
  color:gray;
  transition: 0.7s;
}

.footer p{
  font-size: 14px;
  padding-top: 10px;
  line-height: 1.2em;
}

@media screen and (max-width:767px) {
  .footer p{
    font-size: 12px;
  }
  .icon a{
    font-size: 1.7em;
  }
}
